.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/fizzbuzz/FileContentIndex/084ae422-d3df-427c-891e-f697773935d3.vsidx
.vs/fizzbuzz/v17/.wsuo
.vs/fizzbuzz/v17/DocumentLayout.json
frontend/package-lock.json
